@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.main--chat{
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
}

.chatForm{
    font-family: 'Poppins', sans-serif;
}

.single__post{
    border-style: solid;
    border-width: 1px;
    background-color: #D8F3DC;
    margin: 10px;
    padding: 10px;
}

.new-post-button{
    font-family: 'Poppins', sans-serif;
    margin: 30px;
    
}
.delete-post-button{
    font-family: 'Poppins', sans-serif;
    background-color: white;
    border-style: none;
}

.new__button{
    display: flex;
}
