@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


.container--mygarden{
    font-family: 'Poppins', sans-serif;
    flex-wrap: wrap;
}

.plantButton {
    background-color: white;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-size: medium;
}

.plantButton:hover {
    transition: width 0s ease, background .5s ease;
    background-color: #AAD2BA;
}

.save--button {
    background-color: #AAD2BA;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
}

.delete--button {
    background-color: #AAD2BA;
    font-family: 'Poppins', sans-serif;
    font-weight: lighter;
}