@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


.container--mygarden{
    font-family: 'Poppins', sans-serif;
    flex-wrap: wrap;
}

.plantButtonOptions{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 150px;
}

.plantButton {
    background-color: white;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-size: medium;
    flex-direction: column;
}

.plantButton:hover {
    transition: width 0s ease, background .5s ease;
    background-color: #D8F3DC;
}

.save--button {
    background-color: whitesmoke;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    color: #1B4332;
    border-color: #1B4332;
}

.delete--button {
    background-color: whitesmoke;
    font-family: 'Poppins', sans-serif;
    font-weight: lighter;
    color: #081C15;
    border-style: none;
    margin-left: 20px;
}

h1 {
    font-size: large;
}