@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


.planner--options {
    font-family: 'Poppins', sans-serif;
}

.season__button{
    font-family: 'Poppins', sans-serif;
    background-color: white;
    border-style: none;
    font-size: 16px;
}

.season__button:hover {
    transition: width 0s ease, background .5s ease;
    background-color: #D8F3DC;
}

.available__container{
    margin: 30px;
}

.desired__season{
    margin: 30px;
}