@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.main--home {
    font-family: 'Poppins', sans-serif;
    text-align: center;
}


.home--logo {
    max-width: 300px;
    max-height: 300px;
    align-content: center;

}

.h2 {
    margin-bottom: 0%;
}