@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


.navbar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: left;
    font-family: 'Poppins', sans-serif;
}

.navbar__item {
    flex-basis: 20%;
    list-style-type: none;
}
